/*////////////// Fonts //////////////*/

@import url('fonts/Baskerville.ttc');
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	color: #abb;
}

h1 {
	border-bottom: 2px solid #eee;
	font-family: Baskerville;
	font-size: 5em;
	color: #abb;
}

img {
	border: 5px solid #abb;
}

.footer

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
