/*////////////// Fonts //////////////*/

@import url('fonts/Baskerville.ttc');
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	color: #997799;
}

h1 {
	font-family: Baskerville;
	font-size: 5em;
	color: #99aa99;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
